$grey: #8a91a4;
$grey-light-1: #f8f9fb;
$grey-light-2: #dbe1e9;
$grey-light-3: #bcc4d1;
$grey-dark-1: #727b89;
$grey-dark-2: #373e4b;

$blue: #2968c8;
$blue-light-1: #fafcff;
$blue-light-2: #f3f8ff;
$blue-light-3: #ddebff;
$blue-light-4: #accdff;
$blue-light-5: #78a6ec;
$blue-dark-1: #24559e;
$blue-accent-1: #408cff;

$green: #79c32f;
$green-light-1: #f6faf2;
$green-light-2: #dfefce;
$green-light-3: #c0dfa0;
$green-light-4: #9fcf6f;
$green-dark-1: #639a2c;

$orange: #ff9028;
$orange-light-1: #fff9f2;
$orange-light-2: #feebda;
$orange-light-3: #ffd6b0;
$orange-light-4: #ffb978;
$orange-dark-1: #e07919;

$red: #da3640;
$red-light-1: #fff5f5;
$red-light-2: #fbe3e4;
$red-light-3: #fdc6c8;
$red-light-4: #f67d85;
$red-dark-1: #ae131c;
