/** Тут будут повторы пока идёт рефактор */
$white: #fff;
$black: #000;
$dark: #656a85;
$green: #77c851;

$grey-light-1: #dce1ea;
$grey-light-2: #b6bed0;
$grey-light-3: #8287a6;

$blue: #2968c8;
$blue-light-1: #accdff;
$blue-light-2: #ddebff;

/** Старые цвета, которые будут подвергнуты рефактору */
$blue-light: #accdff;
$grey: #b6bed0;
$grey-light: #dce1ea;

$text-ligh-blue: #c9deff;
$text-grey: #637392;
$text-black: #223150;

$primary: $blue;

$primary: $blue;
$primary-hover: #3a81ea;
$primary-active: #114ca6;

$success: $green;
$success-hover: #92d772;
$success-active: #6cb849;

$warning: #ff9028;
$warning-hover: #ffaf64;
$warning-active: #ed7200;

$danger: #da3640;
$danger-hover: #ed666e;
$danger-active: #d1333c;

$info: $text-grey;
$info-hover: #8388a7;
$info-active: #595c72;

$disabled-font: #b6bed0;
$disabled-border: #dce1ea;
$disabled-background: #edf2fa;

$basic: #f7f8fa;

$disabled-font: #b6bed0;
$disabled-border: #dce1ea;
$disabled-background: #edf2fa;
